.counter-container{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2rem;
    border: 4px solid black; 
    border-radius: 10px;                                     
}