div {
    background-color: #333;
    color: white;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.active-link {
    font-weight: bold;
    text-decoration: underline;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #999;
    padding: 5px;
}