#Div1{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
}
#Div2{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}